
    <header class="header-global">
        <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark">
            <div class="container position-relative">
                <a class="navbar-brand me-lg-5" href="/startPage.html">
                    <img class="navbar-brand-dark" src="/static/assets/img/logo2.png" alt="Logo light">
                    <img class="navbar-brand-light" src="/static/assets/img/logo2.png" alt="Logo dark">
                </a>
                <div class="navbar-collapse collapse me-auto" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="/startPage.html">
                                    <img src="/static/assets/img/logo2.png" alt="Themesberg logo">f
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="frontPagesDropdown" aria-expanded="false" data-bs-toggle="dropdown">
                                Pages
                                <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                            </a>
                            <div class="dropdown-menu dropdown-megamenu px-0 py-2 p-lg-4" aria-labelledby="frontPagesDropdown">
                                <div class="row">
                                    <div class="col-6 col-lg-4">
                                        <h6 class="d-block mb-3 text-primary">Main pages</h6>
                                        <ul class="list-style-none mb-4">
                                            <li class="mb-2 megamenu-item">
                                                <a class="megamenu-link" href="/startPage.html">AI Lineart</a>
                                            </li>
                                            <li class="mb-2 megamenu-item">
                                                <a class="megamenu-link" href="/colorChanger.html">Color Changer</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-lg-4">
                                        <h6 class="d-block mb-3 text-primary">Gallery</h6>
                                        <ul class="list-style-none mb-4">
                                            <li class="mb-2 megamenu-item">
                                                <a class="megamenu-link" href="/gallery.html">Gallery</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-lg-4">
                                        <h6 class="d-block mb-3 text-primary">Upload</h6>
                                        <ul class="list-style-none mb-4">
                                            <li class="mb-2 megamenu-item">
                                                <a class="megamenu-link" href="/uploadImage.html">Upload</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

